In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_stata('./CGSS2021.dta',convert_categoricals=False, convert_missing=True)
df.head()

,id,provinces,community_i,type,A00,A1,A011601,A011602,A011603,A011604,...,P22_b,P22_c,isco08_a57e,isco08_a59d,isco08_a60d,isco08_sp,isco08_f,isco08_m,weight,weight_raking
0,2504.0,北京市,1101021,1.0,2021-07-11 15:03:00,1,2,.,.,.,...,4,1,2342,5322,.,.,3341,9622,0.757877,0.265570
1,1187.0,北京市,1101022,1.0,2021-07-06 11:14:00,1,1,.,.,.,...,.,.,7230,.,1321,.,1112,.,0.416885,0.073736
2,4315.0,北京市,1101011,1.0,2021-07-20 16:05:00,1,1,.,.,.,...,.,.,0,.,2330,.,7521,6100,0.299796,0.023887
3,6836.0,北京市,1101154,1.0,2021-07-31 15:18:00,7,3,3,5,5,...,.,.,7230,2523,.,4110,8300,2341,0.781762,0.274609
4,4726.0,北京市,1101064,1.0,2021-07-23 09:22:00,4,1,2,6,7,...,1,2,7318,.,4110,.,7230,.,0.616473,0.215613

In [7]:
#选择被调查者的受教育年限（A7a),性别（A2）,出生年份(A3_1)，政治面貌(A10),工作情况(A58),户籍(A18),14岁时家庭地位(A43_d),收入(A8a)
respondent=df.loc[: , ['A7a','A2','A3_1','A10','A58','A18','A43_d','A8a']]
respondent.head()

  A7a  A2  A3_1  A10  A18  A43_d       A8a  A58
0   7   2  1967    1    2      4   96000.0    1
1   7   2  1945    4    3      4   60000.0    5
2  11   1  1949    4    3     98   96000.0    5
3  11   1  1986    1    1      3  160000.0    1
4   7   2  1958    1    2      2   48000.0    5

In [8]:
#选择被调查者父亲的受教育年限(A89b)，政治面貌(A89c)，工作情况(A89d)，专业职称(A89f)，年龄(A89a)
father=df.loc[:,['A89b','A89c','A89d','A89f','A89a']]
father.head()

   A89b  A89c  A89d A89f  A89a
0     2     4     1    4  1931
1     3     4     1    4  1921
2     1     1     3    0  9998
3     4     4     1    0  1958
4     2     1     1    0  1918

In [10]:
#选择被调查者母亲的受教育年限(A90b)，政治面貌(A90c)，工作情况(A90d)，专业职称(A90f)，年龄(A90a)
mother=df.loc[:,['A90b','A90c','A90d','A90f','A90a']]
mother.head()

   A90b  A90c  A90d A90f  A90a
0     1     1     8    0  1932
1     2     1    15    .  1926
2     1     1     2    0  1913
3     6     1     1    0  1958
4     2     1    15    .  1921

In [ ]:
respondent_edu=['小学及以下':0,'初中':0,'高中':0,'大学及以上':0]
for i in range(len(df)):
    if respondent[i]['A7a'] <=3:
        respondent_edu['小学及以下']+=1
    elif respondent[i]['A7a'] ==4:
        respondent_edu['初中']+=1
    elif respondent[i]['A7a'] <=9:
        respondent_edu['高中']+=1
    else:
        respondent_edu['大学及以上']+=1
father_edu=['小学及以下':0,'初中':0,'高中':0,'大学及以上':0]
for i in range(len(df)):
    if father[i]['A7a'] <=3:
        father_edu['小学及以下']+=1
    elif father[i]['A7a'] ==4:
        father_edu['初中']+=1
    elif father[i]['A7a'] <=9:
        father_edu['高中']+=1
    else:
        father_edu['大学及以上']+=1
mother_edu=['小学及以下':0,'初中':0,'高中':0,'大学及以上':0]
for i in range(len(df)):
    if mother[i]['A7a'] <=3:
        mother_edu['小学及以下']+=1
    elif mother[i]['A7a'] ==4:
        mother_edu['初中']+=1
    elif mother[i]['A7a'] <=9:
        mother_edu['高中']+=1
    else:
        mother_edu['大学及以上']+=1